{% extends "base.html" %}

{% block up %}
<div class="container has-text-centered">
    <div class="columns">
        <div class="column is-3 ">
            <h3 class="title"><br><br><br>Add Environment</h3>
            <div class="box">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
                {% endif %}
                {% endwith %}
                <form action="/version" method="POST">
                    <div class="field">
                        <div class="control">
                            <span class="select is-large">
                                <select class="form-control" name="framework">
                                    <option value="" disabled="disabled" style="display:none" selected="selected">Select
                                        Framework</option>
                                    <option value="pytorch">Pytorch</option>
                                    <option value="tensorflow">Tensorflow</option>
                                    <!-- <option value="caffe">Caffe</option> -->
                                </select>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <input class="input is-large" type="text" name="version" placeholder="Version" autofocus="">
                        </div>
                    </div>

                    <button class="button is-block is-info is-large is-fullwidth" name="submit_button" value="add">Add
                        Environment</button>
                </form>

            </div>
        </div>
        <div class="column is-four-fifths ">
            <h3 class="title"><br><br><br>Environment</h3>
            <div class="box">

                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>
                                <div style="width: 200px;">Framework</div>
                            </th>
                            <th>
                                <div style="width: 200px;">Version</div>
                            </th>
                            <th>Modification</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in output_data %}
                        <tr>
                            <td>{{row.framework}}</td>
                            <td>{{row.version}}</td>
                            <td>
                                <form action="/version" method="POST">
                                    <div class="field is-grouped">
                                        <div class="control">
                                            <input type="hidden" name="framework" value={{row.framework}}>
                                            <input type="hidden" name="version" value={{row.version}}>
                                            <button class="button is-danger" name="submit_button"
                                                value="delete">Delete</button>
                                        </div>
                                        <!-- <div class="control">
                                            <button class="button is-light is-link" name="submit_button"
                                                value="modify">Modify</button>
                                        </div> -->
                                    </div>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    {% endblock %}